html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.hero {
    height: 100vh;
    background-color: aqua;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('toronto-gadb94c37d_1920.jpg');
    background-position: center;
    background-size: cover;
}

.container {
    color: white;
    z-index: 70;
    text-align: center;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 7rem;
    padding: 30px;
}

.subtitle {
    font-weight: 300;
    font-size: 3rem;
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 0.9rem;
    }
}
